/* * {
    margin:0;
    padding: 0;
} */

:root{
    --color-white: #fff;
    --color-blue: #2196F3;
    --color-2121: #212121;
    --color-7575: #757575;
    --color-f5f5: #F5F5F5;
    --color-f5f4: #F5F4FA;
    --color-darkfooter: #2F303A;
    --color-black: #000;
    --color-button-active: #188CE8;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}   

h1,h2,h3,h4,h5,h6, p, ul{
    margin:0;
    padding: 0;
}

body{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    background-color: var(--color-white);
    color: var(--color-2121);
}

/* start header styles */

header{
    border-bottom: 1px solid #ECECEC;
}

.flexbox {
    display: flex;
}

.centered{
    text-align: center;
}

.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    vertical-align: middle;
}

.nav-main {
    display: flex;
    align-items: center;
}

.header-logo-link{
    padding: 13px 0;
    text-decoration: none;
    color: var(--color-black);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9375;
    margin-right: 93px;;
}

.blue{
    color: var(--color-blue);
}

.lists {
    list-style: none;
    padding: 0;
}

.lists.nav-main{
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.header-lists{
    font-weight: 500;
}

.header-list:not(:last-child){
    margin-right: 50px;
}

.header-contact-link.mail,
.header-contact-link.tel {
    display: inline-flex;
}   

.icon-phone, .icon-envelope {
    width: 16px;
    height: 16px;
    margin-right: 10px;
    fill: var(--color-7575);
}

.icon-phone:hover, .icon-envelope:hover{
    fill: var(--color-button-active);
}

/* end of test block */ 



.contacts {
    margin-left: auto;
}

.header-link{
    position: relative;
    display: inline-block;
    font-weight: 500;
    text-decoration: none;
    color: var(--color-2121);
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current{
    color: var(--color-blue);
}

.header-link.current::after{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
}

.header-link:hover,
.header-link:focus{
    color: var(--color-blue);
}

.header-contact-link{
    text-decoration: none;
    color: var(--color-7575);
    font-weight: 500;
    padding: 32px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-link:hover,
.header-contact-link:focus {
    color: var(--color-blue);
}

.header-contact-link:hover .icon-envelope, 
.header-contact-link:hover .icon-phone,
.header-contact-link:focus .icon-envelope,
.header-contact-link:focus .icon-phone{
    fill: var(--color-button-active);    
}

/* start hero styles */

.section{
    padding: 94px 0;
}

.hero{
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/bgImg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-darkfooter);
    padding: 200px 0;
}

.hero-block{
}

.hero-title{
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--color-white);
    margin-bottom: 30px;
}

.hero-button{
    background: var(--color-blue);
    padding: 10px 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    color:var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), 
                color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, 
.hero-button:focus{
    cursor: pointer;
    color: var(--color-white);
    background: var(--color-button-active);
}

/* backdrop style */

.backdrop{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.2);
    opacity: 1;
    scale: 1;
    transition: opacity 500ms ease, scale 500ms ease;
}

.backdrop.is-hidden{
    opacity: 0;
    scale: 0.2;
    pointer-events: none;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    min-width: 525px;
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close{
    position: absolute;
    right: 8px;
    top: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--color-black);
    background-color: transparent;
    cursor: pointer;
}

.modal-close svg{
    vertical-align:middle;
    fill: var(--color-black);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover svg{
    fill: var(--color-blue);
}

.modal-content{
    padding: 40px;
}

.modal-content b{
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em; 
    color: #212121;
    margin-bottom: 12px;
}

.modal-content .label-field{
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.contacts-field {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 4px;
    margin-bottom: 10px;
}

.backdrop .contacts-input{
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 41px;
    margin-top: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-icon{
    position: absolute;
    width: 18px;
    height: 18px;
    bottom: 11px;
    left: 15px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-input:hover, .contacts-input:focus{
    border: 1px solid var(--color-blue);
    cursor: pointer;
}


.contacts-input:hover + .contacts-icon, .contacts-input:focus + .contacts-icon {
    fill: var(--color-blue);
}

.backdrop .for-comments{
    resize: none;
    margin-top: 4px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    font-weight: 400;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop .for-comments:hover, .backdrop .for-comments:focus{
    border: 1px solid #2196F3;
}

.backdrop .for-comments::placeholder{
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}


.modal-form {
    display: flex;
    flex-direction: column;
}

.policy{
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
}

.policy-checkbox{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
}

.checkbox {
    display: flex;
    align-items: center;
    padding-left: 32px;
    color: #757575;
}

.checkbox:hover, .checkbox:hover .check-box{
    cursor: pointer;
}

.checkbox:hover .check-box{
    border: 1.5px solid var(--color-blue);
}

.policy .checkbox a {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    text-decoration-line: underline;
    color: #2196F3;
}

.check-box {
    position: absolute;
    width: 16px;
    height: 15px;
    border: 1.5px solid #000000;
    border-radius: 2px;
    margin-left: -28px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-box + a{
    padding-left: 5px;
}

.policy-checkbox:checked + .check-box{
    background-image: url(../image/icon-checked-blue.svg);
    background-size: contain;
    background-color: var(--color-blue);
}

.send-button{
    width: 200px;
    height: 50px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    transition-property: background, 'box-shadow';
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button:hover{
    background: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}


/* start advantages(adv) styles */

.advantages{
}

.adv-bg{
    display:flex;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--color-f5f4);
    justify-content: center;
    align-items: center;
}

.icon {
    
}

.adv-list{
    width: 270px;    
    list-style: none;
    width: calc(100%-90px)/4;
}

.adv-list:not(:last-child){
    margin-right: 30px;
}

.adv-title{
    font-size: inherit;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-2121);
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

.adv-details{
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: var(--color-7575);
}

/* start working styles */ 
.working-block{
    padding-bottom: 94px;
}

.working-block .topic{
    padding-bottom: 50px;
}

.thumb{
    position: relative;
}

.thumb p{
    display: inline-flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left: 0;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color:rgba(47, 48, 58, 0.8);
    opacity: 1;
}

.working-block .lists img{
    display: block;
}



.topic{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color: var(--color-2121);
}

.lists .item:not(:last-child) {
    margin-right: 30px;
}

/* start team styles */

.team-block{
    background-color:var(--color-f5f4);
    padding-bottom: 94px;
}

.team-block .topic{
    margin-bottom: 50px;
}

.team-block .lists img{
    display: block;
}

.lists .item.team{
    background-color: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}


.team.item .details{
    padding: 30px 0;
}

.icons-social{
    display: flex;
}

.lists.icons-social{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.social-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link svg{
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-link:hover, .social-link:focus{
    background: var(--color-button-active);
    
}

.social-link:hover .social-logo,
.social-link:focus .social-logo{
    fill: var(--color-white);
}

.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-logo{
    fill: #afb1b8;
}

.details .team-block-title{
    margin-bottom: 10px;
}

.team-block-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color: var(--color-2121);
}

.team-block-details{
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.03em;
    color:var(--color-7575);
}

/* works section styles */ 

.works .topic {
    margin-bottom: 50px;
}

.works-item{
}

.works-item:not(:last-child){
    margin-right: 30px;
}

.works-link{
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link svg{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.works-link:hover, .works-link:focus {
    border: 1px solid var(--color-button-active);
}

.works-link:hover .company-logo,
.works-link:focus .company-logo {
    fill: var(--color-button-active);
}

.works-link{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 170px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.company-logo{
    fill: #AFB1B8;
}

/* start footer styles */

footer{
    padding: 60px 0;
    background-color: var(--color-darkfooter);
}
.footer.flexbox{
    margin-left: auto;
}

.footer-all{
    align-items: baseline;
}

.footer-block{
    margin-right: 70px;
}

.footer-logo-link{
    color: var(--color-white);
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9375;
    letter-spacing: 0.03em;
    text-decoration: none;
}

address {
    margin-top: 20px;
}

.company-address{
    color: var(--color-white);
    font-style: normal;
    line-height: 1.5;
    margin-bottom: 9px;
}

.footer-contact-list{
    list-style: none;
    font-style: normal;
    margin-bottom: 9px;
}

.footer-contact-list:last-child {
    margin-bottom: 0;
}

.footer-contact-link{
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.03em;
}

.join{

}

.join-us{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.join-us-list{
    list-style: none;
}

.join-us-list .social-link{
    background-color:rgba(255, 255, 255, 0.1); 
    border-radius: 50%;
}

.join-us-list .social-link:hover,
.join-us-list .social-link:focus{
    background-color: var(--color-blue);
}

.social-link .join-us-logo{
    fill: var(--color-white);
}

.subscribe{
    margin-left: auto;
}

.subscribe-title{
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF; 
    margin-bottom: 20px;
}

.subscribe input{
    display: inline-block;
    width: 358px;
    height: 50px;
    padding: 15px 16px;
    background-color: var(--color-darkfooter);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: white;
}

.subscribe::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.subscribe-button{
    display: inline-flex;
    width: 200px;
    color: #fff;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 4px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    justify-content: space-between;
    align-items: center;
    padding: 10px 28px;
    cursor: pointer;
}

/* portfolio styles page */

.main-lists{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-bottom: 50px;
} 
.product-item{
    margin-right: 8px;
}

.product-item:last-child{
    margin-right: 0;
}

.folio-button{
    font-family: inherit;
    cursor: pointer;
    padding: 6px 22px;
    background: var(--color-f5f4);
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    letter-spacing: 0.03em;
    transition-property: color, background, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.folio-button:hover,
.folio-button:focus{
    background: var(--color-blue);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
                0px 1px 2px rgba(0, 0, 0, 0.08), 
                0px 2px 2px rgba(0, 0, 0, 0.12);
    color: var(--color-white);
}

/* start products styles */

.product-lists{
    width: 1200px;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.product-list-wrap{
}

.product-list{
    margin-right: 30px;
    margin-bottom: 30px;
}

.product-list:nth-child(3n){
    margin-right: 0;
}

.product-list:nth-last-child(-n+3) {
    margin-bottom: 0;
}

.product-link{
    text-decoration: none;
    transition: box-shadow 250ms ease;
}

.product-thumb{
    position: relative;
    overflow: hidden;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms ease;
}

.product-link:hover .product-thumb .overlay{
    transform: translateY(0%);
}

.overlay p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    padding: 0 23px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}


.product-thumb img{
    display: block;
}


.product-link .details{
    display: block;
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
}

.product-link:hover,
.product-link:focus {
    display: inline-block;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-name{
    font-weight: 700;
    font-size: 18px;
    line-height: 2.25;
    letter-spacing: 0.06em;
    color: var(--color-2121);
    text-decoration: none;
}

.product-type{
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--color-7575);
    text-decoration: none;
}


